.gitattributes
.project
.pydevproject
.scriptcraft.log
.scriptcraft.log.*
.stats
.settings/
scriptcraft.egg-info/
.ropeproject/
.*/
.*
!.gitignore
build/
dist/
_sources/
_static/
*.pyc
*~
\#*\#
tasks.org
